@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: "Public Sans", sans-serif;
}

:root {
    --safe-top: env(safe-area-inset-top);
    --safe-right: env(safe-area-inset-right);
    --safe-bottom: env(safe-area-inset-bottom);
    --safe-left: env(safe-area-inset-left);

    --ui-radius: 0.6rem;
}

body {
    padding: var(--safe-top) var(--safe-right) var(--safe-bottom)
        var(--safe-left);
    box-sizing: border-box;
    height: 100%;
}
